@{
    ViewBag.Title = "About";
}

@Styles.Render("~/Content/AboutPage.css")

<div class="container2">
    <center>
        <img class="img" src="~/Content/MovieImages/C.jpg" />
        <h1>About Us...</h1>
        <br />
        <br />
        <br />
        <br />
        <p>
            Cinemy was made to make buying real movies much easier
            than going to Amazon or eBay for example.
            <br />
            <br />
            We provide user interface that is specifically made
            for buying physical movies.
            <br />
            <br />
            From tons of different genres, You can be sure You
            will find the movie you want.
            <br />
            <br />
            We hope You enjoy our site and all the movies we provided for You!
        </p>
    </center>
</div>