@{
    ViewBag.Title = "Contact";
}

@Styles.Render("~/Content/ContactPage.css")

<body>
    <div class="wrapper">
        <h1>Our team</h1>
        <div class="team">
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Content/MovieImages/team1.jpg" alt="Team_image">
                </div>
                <h3>Paul Doe</h3>
                <p class="role">software developer</p>
                <p>Before Cinemy I worked at many other programming companies that make websites. My main objective is to make application do "magic" under the hood.</p>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Content/MovieImages/team2.jpg" alt="Team_image">
                </div>
                <h3>Rosie Meg</h3>
                <p class="role">Designer</p>
                <p>Hi, I'm Rosie and I have worked as the web page designer for 7 years now. My main goal is to make user experience of using our application as best as possible.</p>
            </div>
            <div class="team_member">
                <div class="team_img">
                    <img src="~/Content/MovieImages/team3.jpg" alt="Team_image">
                </div>
                <h3>Alex Wood</h3>
                <p class="role">Support Lead</p>
                <p>I worked in movie industry as the producer for years before joining Cinemy team. My task is to deliver best possible movies on the market straight to you.</p>
            </div>
        </div>
    </div>
</body>